---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/spencer124816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"0a92915711e2d1c7c3249aedb6ab9d62"'
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":"https://api.twitch.tv/kraken/streams/spencer124816","channel":"https://api.twitch.tv/kraken/channels/spencer124816"},"stream":{"_id":15246056160,"game":"Programming","viewers":2,"created_at":"2015-07-11T01:38:11Z","video_height":720,"average_fps":29.9838187702,"_links":{"self":"https://api.twitch.tv/kraken/streams/spencer124816"},"preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_spencer124816-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_spencer124816-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_spencer124816-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_spencer124816-{width}x{height}.jpg"},"channel":{"_links":{"self":"https://api.twitch.tv/kraken/channels/spencer124816","follows":"https://api.twitch.tv/kraken/channels/spencer124816/follows","commercial":"https://api.twitch.tv/kraken/channels/spencer124816/commercial","stream_key":"https://api.twitch.tv/kraken/channels/spencer124816/stream_key","chat":"https://api.twitch.tv/kraken/chat/spencer124816","features":"https://api.twitch.tv/kraken/channels/spencer124816/features","subscriptions":"https://api.twitch.tv/kraken/channels/spencer124816/subscriptions","editors":"https://api.twitch.tv/kraken/channels/spencer124816/editors","videos":"https://api.twitch.tv/kraken/channels/spencer124816/videos","teams":"https://api.twitch.tv/kraken/channels/spencer124816/teams"},"background":null,"banner":null,"broadcaster_language":"en","display_name":"Spencer124816","game":"Programming","logo":null,"mature":false,"status":"streambot","partner":false,"url":"http://www.twitch.tv/spencer124816","video_banner":null,"_id":31776986,"name":"spencer124816","created_at":"2012-07-01T04:25:27Z","updated_at":"2015-07-11T03:17:13Z","delay":null,"followers":7,"profile_banner":null,"profile_banner_background_color":"#2f8946","views":81,"language":"en"}}}'
  recorded_at: Sat, 11 Jul 2015 03:21:49 GMT
recorded_with: VCR 2.9.3
