---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/spencer124816
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"70acc77afc2b1752bce0abb8edf00d56"'
      X-Mh-Cache:
      - rails-varnish-6ba9d4; M
      Front-End-Https:
      - 'on'
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":"https://api.twitch.tv/kraken/streams/spencer124816","channel":"https://api.twitch.tv/kraken/channels/spencer124816"},"stream":null}'
  recorded_at: Tue, 14 Jul 2015 02:20:24 GMT
recorded_with: VCR 2.9.3
